---
import LibraryIcon from "../icons/Library.astro";
import HomeIcon from "../icons/Home.astro";
import SearchIcon from "../icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";
---
<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-[#121212] rounded-lg p-2">
        <ul>
            <SideMenuItem href="/">
                <HomeIcon />
                <div class= "pl-1">
                    Home
                </div>
            </SideMenuItem>

            <SideMenuItem href="#">
                <SearchIcon />
                <div class= "pl-1">
                    Search
                </div>
            </SideMenuItem>
        </ul>
    </div>

    <div class="bg-[#121212] rounded-lg pl-2 pt-1 flex-1">
        <ul>
            <SideMenuItem href="#">
                <LibraryIcon />
                <div>
                    Your Library
                </div>
            </SideMenuItem>
        </ul>
    </div>
</nav>
